parameters:
	ignoreErrors:
		-
			message: '#^Property Xutim\CoreBundle\\Entity\\Article\:\:\$defaultTranslation type mapping mismatch\: database can contain Xutim\CoreBundle\\Entity\\ContentTranslation\|null but property expects Xutim\CoreBundle\\Entity\\ContentTranslation\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Article.php

		-
			message: '#^Property Xutim\CoreBundle\\Entity\\Page\:\:\$defaultTranslation type mapping mismatch\: database can contain Xutim\CoreBundle\\Entity\\ContentTranslation\|null but property expects Xutim\CoreBundle\\Entity\\ContentTranslation\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Page.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Entity\\Page and Xutim\CoreBundle\\Entity\\Page will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/ArticleInPageType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Dto\\Admin\\Article\\ArticleDto and Xutim\CoreBundle\\Dto\\Admin\\Article\\ArticleDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/ArticleType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Form\\Admin\\Dto\\BlockDto and Xutim\CoreBundle\\Form\\Admin\\Dto\\BlockDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/BlockType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Dto\\Admin\\ContentTranslation\\ContentTranslationDto and Xutim\CoreBundle\\Dto\\Admin\\ContentTranslation\\ContentTranslationDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/ContentTranslationType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Form\\Admin\\Dto\\MenuItemDto and Xutim\CoreBundle\\Form\\Admin\\Dto\\MenuItemDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/MenuItemType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Dto\\Admin\\Page\\PageMinimalDto and Xutim\CoreBundle\\Dto\\Admin\\Page\\PageMinimalDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/PageDetailsType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Dto\\Admin\\Page\\PageDto and Xutim\CoreBundle\\Dto\\Admin\\Page\\PageDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/PageType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Dto\\SiteDto and Xutim\CoreBundle\\Dto\\SiteDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/SiteType.php

		-
			message: '#^Instanceof between Xutim\CoreBundle\\Form\\Admin\\Dto\\SnippetDto and Xutim\CoreBundle\\Form\\Admin\\Dto\\SnippetDto will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Form/Admin/SnippetType.php

		-
			message: '#^Call to an undefined static method UnitEnum\:\:tryFrom\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Infra/Doctrine/Type/AbstractEnumType.php
