<ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
    <li class="breadcrumb-item">
        <a href="{{ path('admin_page_list') }}"
            ><twig:Xutim:Admin:Icon name="home"
        /></a>
    </li>
    {% block content %}{% endblock %}
</ol>
