<div class="position-absolute top-0 end-0 m-2 bg-white shadow-sm border rounded p-1 d-flex gap-1">
    <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        data-action="article-preview#setWidth"
        data-size="mobile"
    >
        <twig:ux:icon name="tabler:device-mobile" width="18px" height="18px" />
    </button>
    <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        data-action="article-preview#setWidth"
        data-size="tablet"
    >
        <twig:ux:icon name="tabler:device-ipad" width="18px" height="18px" />
    </button>
    <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        data-action="article-preview#setWidth"
        data-size="desktop"
    >
        <twig:ux:icon name="tabler:device-laptop" width="18px" height="18px" />
    </button>
    <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        data-action="article-preview#setWidth"
        data-size="full"
    >
        <twig:ux:icon
            name="tabler:arrows-maximize"
            width="18px"
            height="18px"
        />
    </button>
</div>
