{% if this.hasTagTranslation() %}
    {%
        set publicUrl = path('tag_translation_show', {slug: tagTranslation.slug, _locale: tagTranslation.locale})
    %}
{% elseif this.hasContentTranslation() %}
    {% if is_extended_locale(this.contentTranslation.locale) %}
        {%
            set publicUrl = path('content_translation_show', {
                slug: this.contentTranslation.slug,
                _content_locale: this.contentTranslation.locale,
            })
        %}
    {% else %}
        {%
            set publicUrl = path('content_translation_show', {
                slug: this.contentTranslation.slug,
                _locale: this.contentTranslation.locale,
            })
        %}
    {% endif %}
{% else %}
    {% set publicUrl = path('homepage') %}
{% endif %}

<a
    href="{{ publicUrl }}"
    class="nav-link px-2"
    title="View page"
    target="_blank"
>
    <twig:ux:icon name="tabler:external-link" class="icon" />
</a>
