<div {{
        attributes.defaults({
            class: 'bg-white border-start border-show',
            style: 'width: 300px; top: 112px;',
            tabindex: '-1',
            id: 'local-sidebar',
            'aria-modal': 'false',
            role: 'dialog',
            'data-controller': 'sidebar',
            'data-action': 'scroll@window->sidebar#updateSidebarPosition',
        })
    }}>
    <div class="d-flex justify-content-between align-items-center ps-2 pe-3 pt-2 pb-0 border-bottom">
        {% block header %}{% endblock %}

        <twig:Xutim:Admin:Button
            variant="link"
            type="button"
            class="btn-close text-reset"
            data-action="click->sidebar#close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></twig:Xutim:Admin:Button>
    </div>
    <div class="p-0">{% block content %}{% endblock %}</div>
</div>
