@import url('./tree-view.css');

/* Removes ability to see toolbar */
.editorjs-no-permission .ce-toolbar__actions {
    display: none !important;
}

/* Split view scrollable right panel */
[data-split-view-target='right'] {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
}

:root {
    --tblr-font-sans-serif: 'Inter';
}

.mt-np1 {
    margin-top: -1px !important;
}

.w-2 {
    width: 2% !important;
}

.w-8 {
    width: 8% !important;
}

.w-10 {
    width: 10% !important;
}

.w-12 {
    width: 12% !important;
}

th {
    position: relative;
}

th .card[data-dt-filter-popover] {
    top: calc(100% + 6px);
    right: 0;
}

.btn-reset {
    all: unset;
    cursor: pointer;
    color: var(--tblr-link-color);
}
.btn-reset:hover {
    color: var(--tblr-link-hover-color);
}

.btn-reset:focus {
    outline: 2px solid var(--tblr-primary);
    outline-offset: 2px;
}

/* Two elements for the image close button. */
.img-responsive {
    position: relative;
}

.image-box-delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border-radius: 20%;
    background-color: #fff;
    color: #333;
}

th[title] {
    cursor: help;
}

.help-hint {
    text-decoration: underline dotted;
    cursor: help;
}

.btn-link {
    text-decoration: none;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 5em;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: 2em;
}

.separator:not(:empty)::after {
    margin-left: 2em;
}

.add-fragment {
    opacity: 0;
    position: relative;
    height: 5px;
    left: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.25s ease;
}
.add-fragment:hover {
    opacity: 1;
    transition: opacity 0.25s ease;
}
.add-fragment .add-fragment-button-container {
    width: 50px;
}
.add-fragment .add-fragment-indicator {
    flex-grow: 1;
    width: 100%;
    height: 1px;
    background-color: blue;
}
body {
    overflow-y: scroll;
}

div.media-container {
    border: 2px dashed #bbb;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}

div.media-container-extended {
    border: 2px dashed #bbb;
    width: auto;
    height: 300px;
    box-sizing: border-box;
}

/* Dialog styles */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Base styles for the dialog */
dialog {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

dialog[open] {
    opacity: 1;
    animation: fadeIn 0.5s forwards;
}

dialog {
    padding: 0;
    border: none;
    border-radius: 0.3rem;
    max-width: var(--tblr-modal-width);
    width: auto;
    overflow: visible;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.dialog-sm {
    --tblr-modal-width: 380px;
}

.dialog-md {
    --tblr-modal-width: 540px;
}

.dialog-lg {
    --tblr-modal-width: 720px;
}

/* Foldable Editor.js Blocks */
.foldable-start-block {
    border: 1px dashed var(--tblr-border-color);
    background: var(--tblr-bg-surface);
    border-radius: 4px;
    transition: border-color 0.15s ease;
    margin: 1rem 0;
}

.foldable-start-block:hover {
    border-color: var(--tblr-border-color-active);
}

.foldable-end-block {
    border: 1px dashed var(--tblr-border-color);
    background: transparent;
    border-radius: 4px;
    padding: 0.5rem !important;
    margin: 1rem 0;
}

/* poppins-latin-100-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 100;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-100-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-200-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 200;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-200-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-300-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-300-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-400-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-500-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-500-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-600-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-600-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-700-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-700-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-800-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-800-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-900-italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-display: swap;
    font-weight: 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-900-italic.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-100-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-100-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-200-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-200-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-300-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-300-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-400-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-500-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-500-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-600-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-600-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-700-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-700-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-800-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-800-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-900-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-900-normal.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* open-sans-latin-wght-normal */
@font-face {
    font-family: 'Open Sans Variable';
    font-style: italic;
    font-display: swap;
    font-weight: 300 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-italic.woff2)
        format('woff2-variations');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* open-sans-latin-wght-normal */
@font-face {
    font-family: 'Open Sans Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 300 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-normal.woff2)
        format('woff2-variations');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
