{% extends '@XutimCore/admin/base.html.twig' %}

{% block pageTitle %}{{ 'Dashboard'|trans({}, 'admin')|capitalize }}{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">Dashboard</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
{% endblock %}
