<twig:Xutim:Admin:SidebarItem id="featured-image-sidebar-item">
    <twig:block name="header">
        {{ 'featured image'|trans({}, 'admin')|capitalize }}:
    </twig:block>
    <twig:block name="content">
        {% if article.featuredImage %}
            <a
                href="{{ admin_path('admin_media_edit', {id: article.featuredImage.id}) }}"
            >
                <img
                    src="{{ path('file_show', {id: article.featuredImage.id, extension: 'image'}) }}"
                    alt="Featured Image"
                    class="avatar avatar-1"
                />
            </a>
        {% endif %}
        <div {% if article.featuredImage is null %}class="ms-auto"{% endif %}>
            <twig:Xutim:Admin:Button
                tag="a"
                variant="link"
                class="p-0"
                data-turbo-frame="modal"
                href="{{ admin_path('admin_article_featured_image_edit', {id: article.id}) }}"
            >
                <twig:Xutim:Admin:Icon name="edit" />
            </twig:Xutim:Admin:Button>
        </div>
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
