{% block stream_success %}
    <turbo-stream action="replace" targets="#article-sidebar-tags-list">
        <template>
            <div id="article-sidebar-tags-list">
                {% for tag in article.tags %}
                    <div class="mt-1">
                        {%
                            set name = tag.translationByLocaleOrAny(content_context_language()).name
                        %}
                        <a href="{{ path('admin_tag_edit', {id: tag.id}) }}">
                            <twig:Xutim:Admin:Tag
                                :color="tag.color"
                                title="{{ name }}"
                                data-controller="tooltip"
                            >
                                {% if name|length <= 20 %}
                                    {{ name }}
                                {% else %}
                                    {{ name|slice(0, 17) }} ...
                                {% endif %}
                            </twig:Xutim:Admin:Tag>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </template>
    </turbo-stream>
{% endblock %}
