<div class="foldable-end-block text-center">
    <span class="text-muted" style="font-size: 0.75rem">▲</span>
    <span class="text-muted small">{{
        'End foldable'|trans({}, 'admin')
    }}</span>
</div>
