{% set tag = 'h' ~ (row.attrs.level ?? 1) %}
<{{ tag }}>
    <span{% if row.body_html is defined and row.body_html %} class="diff-inline"{% endif %}>{{ row.body_html|default('')|raw }}</span>
</{{ tag }}>
