{% extends '@XutimCore/admin/settings/settings_layout.html.twig' %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">
            <a href="{{ path('admin_settings_site') }}">Settings</a>
        </li>
        <li class="breadcrumb-item">Site</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block pageMenu %}
    <twig:Xutim:Admin:PublicPageLink />
{% endblock %}

{% block settingsBody %}
    {{ form(form) }}
{% endblock %}
